* {
  box-sizing: border-box;
}

body {
  padding: 100px 0;
  margin: 0 auto;
  max-width: 700px;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  display: inline-block;
  padding: 16px;
}

p {
  padding: 20px;
}

details {
  margin: 30px 0;
  border: 1px solid rgb(230, 230, 230);
  border-left: 5px solid orange;
  /* outline: 2px solid black; */
  /* padding: 20px; */
}

summary {
  /* border: 1px solid rgb(230, 230, 230); */
  /* border-left: 5px solid orange; */
  padding-left: 30px;
}

details[open] summary {
  border-bottom: none;
}

/* .border-left-orange {
  border-left: 5px solid orange;
  padding-left: 20px;
} */
